body {
  font-family: Poppins;
  color: #FFF;
  text-align: center;
  line-height: 1.38;
  letter-spacing: 0.4px;
  width: 100%;
}

svg, path,
#hoodcast-icon {
  max-width: 300px;
}

#form-panels {
  display: flex;
  flex-direction: column;
}

#hoodcast-icon img {
  position: absolute;
  max-width: 300px;
  left: 0;
  right: 0;
}

.hoodcast-search {
  margin: 5px 15px 5px 15px;
  display: inline-block;
}

.hoodcast-search-input {
  width: 250px;
  height: 36px;
  border-radius: 3px;
  padding-left: 50px;
  border: solid 1px #cecccf;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.0;
  letter-spacing: 0.4px;
  padding-top: 5px;
  text-align: left;
  color: #4f4f4f;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
  cursor: text;
}

#container {
  top: 150px;
  display: none;
  background-color: #FFF;
  color: #000;
  width: 65%;
  margin: 0 auto;
  padding: var(--space);
  border-radius: 10px;
  overflow-y: scroll;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

#search {
  display: block;
  padding: 32px 0;
  margin: 0 auto;
  width: 100%;
}

.table-container {
  overflow-x: scroll;
}

table {
  width: 100%;
  text-align: center;
}

.hoodcast-header th {
  background: white;
  padding-top: 18px;
}

td, th {
  padding-top: 15px;
}

th, .table-descriptor {
  font-size: 14px;
}

td.table-value {
  color: #7A797A;
  font-size: 16px;
  font-family: Work Sans;
  height: 19px;
  letter-spacing: 0.4px;
}

tr {
  height: 50px;
}

tr:nth-child(even) {
  background-color: #F5F4F5;
}

td.company-link {
  text-decoration: underline;
}

td.company-link:hover {
  color: gray;
}

#hoodcast-search-button {
  text-align: center;
  width: 160px;
  height: 65px;
  border-radius: 8px;
  margin-top: 20px;
  background-color: gold;
  border: solid 4px #000;
  font-family: Work Sans;
  line-height: 1.13;
  font-size: 2.5rem;
  color: #000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#hoodcast-search-button:hover {
  border: solid 2px #000;
  background-color: gray;
  color: #FFF;
}

.subheader {
  background-color: white;
  font-family: Poppins;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: #000;
}

h2#active.subheader {
  background-color: #000000;
  color: gold;
  border: 5px solid white;
  border-top: 60px solid white;
  border-radius: 15px;
  padding: 5px;
}

h2#head.subheader {
  background-color: #000000;
  color: gold;
  border: 5px solid white;
  border-top: 15px solid white;
  border-radius: 15px;
  padding: 5px;
}

h2#hidden.subheader {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 0;
  text-decoration: underline;
  color: gray;
}

h2#hidden.subheader:hover {
  color: black;
}

.hoodcast-table th:nth-child(-n+3) {
  width: 15%;
}

.hoodcast-table th:nth-child(n+4) {
  width: 20%;
}

.site-main-background {
  bottom: 0;
  display: block;
  position: fixed;
  height: 49.5vh;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  background-color: gray;
}

.sort,
.company-link,
a,
a img,
a h2,
#hoodcast-search-button,
g#logo,
svg,
path,
.paths,
img.sortasc,
img.sortdesc {
  cursor: pointer;
}

@media (max-width: 750px) {
  #container {
    width: 95%;
  }

  svg, path,
  #hoodcast-icon,
  #hoodcast_x6F_logo,
  #hoodcast-icon img {
    width: 50%;
    max-width: 200px;
  }
    
  #hoodcast-search-button {
    width: 180px;
    font-size: 2rem;
  }

  .site-main-background {
    height: 250px;
  }
}

@media (max-height: 600px) {
  #container {
    height: 50%;
  }
    
  svg, path,
  #hoodcast-icon,
  #hoodcast_x6F_logo,
  #hoodcast-icon img {
    width: 50%;
    max-width: 200px;
  }
    
  #hoodcast-search-button {
    width: 180px;
    font-size: 2rem;
  }
    
  .site-main-background {
    height: 250px;
  }
}

.autocomplete {
  position: relative;
}

.autocomplete-items {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  margin: 0 auto;
  z-index: 99;
  width: 304px;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: gold !important; 
}
