[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
blinker = "*"
fuckit = "*"
gunicorn = "*"
hoodflex = {editable = true, git = "git://github.com/briantacderan/hoodflex.git"}
robin-stocks = "*"
Flask-Login = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
email-validator = "*"

[requires]
python_version = "3.8"
