[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blinker = "*"
email-validator = "*"
fuckit = "*"
gunicorn = "*"
hoodflex = {editable = true, git = "git://github.com/briantacderan/hoodflex.git"}
robin-stocks = "*"
Flask-Login = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"

[dev-packages]

[requires]
python_version = "3.8"
