<!DOCTYPE html>
<html>
  <head>
    <title>Hoodcast</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:500" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/reset.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
    
  <body>
    <a href="{{ url_for('index') }}">
      <img alt="Hoodcast Icon"
           id="hoodcast-icon"
           src="{{ url_for('static', filename='resources/images/hoodcast-gold.svg') }}" />
    </a>
      
    <div id="container">
      <div id="search">
        <form autocomplete="off" id="form-panels" action="" method="post">
            
          {{ form.hidden_tag() }}
          <div class="hoodcast-search autocomplete">
            {{ form.name(id="company-search", class="hoodcast-search-input form-control", size=32) }}
            {% for error in form.name.errors %}
            <span style="color: red; font-weight: bold;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="hoodcast-search">
            {{ form.form_type(class="hoodcast-search-input", size=32) }}
            {% for error in form.name.errors %}
            <span style="color: red; font-weight: bold;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div class="hoodcast-search">
            {{ form.year(class="hoodcast-search-input", size=32) }}
            {% for error in form.name.errors %}
            <span style="color: red; font-weight: bold;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <div>
            {{ form.submit(id="hoodcast-search-button") }}
          </div>
              
        </form>
      </div>    
      
      {% block content %}
      {% endblock %}
        
    </div>
      
    <script src="//cdn.jsdelivr.net/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript">
      var companies = {{ companies|tojson }}; 
      var companyArray = [];
      for (i = 0; i < companies.length; i++) {
        companyArray.push(companies[i][0]);
      }
    </script>
    <script src="{{ url_for('static', filename='javascripts/main.js') }}"></script>
      
  </body>
</html>
