{% extends "base.html" %}
{% block content %}

<div>
  <h2 id="head" class="subheader">{{ company.title.upper() }}</h2>
  <table id="company-detail-table">
    <tbody>
      <tr>
        <td class="table-descriptor">WORKING CAPITAL</td>
        <td class="table-descriptor">DEBT RATIO</td>
        <td class="table-descriptor">ACID TEST</td>
      </tr>
      <tr>
        <td class="table-value">{{ ratios.get_ratio()[0] }}</td>
        <td class="table-value">{{ ratios.get_ratio()[1] }}</td>
        <td class="table-value">{{ ratios.get_ratio()[2] }}</td>
      </tr>
      <tr>
        <td class="table-descriptor">DEBT-EQUITY</td>
        <td class="table-descriptor">EARNINGS PER SHARE</td>
        <td class="table-descriptor">PRICE-EARNINGS</td>
      </tr>
      <tr>
        <td class="table-value">{{ ratios.get_ratio()[3] }}</td>
        <td class="table-value">{{ ratios.get_ratio()[4] }}</td>
        <td class="table-value">{{ ratios.get_ratio()[5] }}</td>
      </tr>
      <tr>
        <td class="table-descriptor">RETURN ON EQUITY</td> 
        <td class="table-descriptor">PRICE-BOOK</td>
        <td class="table-descriptor">WC TURNOVER</td>
      </tr>
      <tr>
        <td class="table-value">{{ ratios.get_ratio()[6] }}</td>
        <td class="table-value">{{ ratios.get_ratio()[7] }}</td>
        <td class="table-value">{{ ratios.get_ratio()[8] }}</td>
      </tr>
    </tbody>
  </table>
</div>

{% for x in range(table_titles|length) %}
<div id="to-{{ table_titles[x].lower() }}">
  <h2 id="active" class="subheader">{{ table_titles[x].upper() }}</h2>
  click to view:
  <select id="{{ table_titles[x].lower() }}-selector">

  {% for table in table_titles %}
    {% if table == table_titles[x] %}
    <option value="{{ table.lower() }}" SELECTED>
      the {{ table }} table
    </option>
    {% else %}
    <option value="{{ table.lower() }}">
      the {{ table }} table
    </option>
    {% endif %}
  {% endfor %}
      
  </select>
    
  <div class="table-container">
    <table class="hoodcast-table">
      <tbody>
        <tr class="table-header hoodcast-header">

          {% for column in df_dict[table_titles[x]]['columns'] %}
          <th id="headers">
            {{ column.lower().title() }}
            <a href="{{ url_for('metrics', name=name, form_type=form_type, 
                     year=year) }}">
              <img class="sort" 
                   alt="Sort Ascending"
                   src="{{ url_for('static', 
                        filename='resources/images/up.svg') }}" />
            </a>
            <a href="{{ url_for('metrics', name=name, form_type=form_type, 
                     year=year) }}">
              <img class="sort"
                   alt="Sort Descending" 
                   src="{{ url_for('static', 
                        filename='resources/images/down.svg') }}" />
            </a>
          </th>
          {% endfor %}

        </tr>

        {% for k in range(df_dict[table_titles[x]][df_dict[table_titles[x]]['keys_list'][1]]|length) %}
        <tr key="{{ k }}">
          {% for w in range(df_dict[table_titles[x]][df_dict[table_titles[x]]['keys_list'][1]][k]|length) %}
          {% if k != 0 and w == 0 %}
          {% if df_dict[table_titles[x]][df_dict[table_titles[x]]['keys_list'][1]][k][w] == df_dict[table_titles[x]][df_dict[table_titles[x]]['keys_list'][1]][k-1][w] %}
          <td key="row{{ k }}-{{ w }}"></td>
          {% else %}
          <td key="row{{ k }}-{{ w }}">
            {{ df_dict[table_titles[x]][df_dict[table_titles[x]]['keys_list'][1]][k][w] }}
          </td>
          {% endif %}
          {% else %}
          <td key="row{{ k }}-{{ w }}">
            {{ df_dict[table_titles[x]][df_dict[table_titles[x]]['keys_list'][1]][k][w] }}
          </td>
          {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}  

      </tbody>
    </table>
  </div>
</div>
{% endfor %}

<script src="{{ url_for('static', filename='javascripts/main.js') }}">
</script>

{% endblock %}
