{% extends "base.html" %}
{% block content %}

<script src="{{ url_for('static', filename='javascripts/main.js') }}"></script>

<div>
  <h2 id="head" class="subheader">{{ company.title.upper() }}</h2>
  <table id="company-detail-table">
    <tbody>
      <tr>
        <td class="table-descriptor">WORKING CAPITAL</td>
        <td class="table-descriptor">DEBT RATIO</td>
        <td class="table-descriptor">ACID TEST</td>
      </tr>
      <tr>
        <td class="table-value">{{ ratios.get_ratio()[0] }}</td>
        <td class="table-value">{{ ratios.get_ratio()[1] }}</td>
        <td class="table-value">{{ ratios.get_ratio()[2] }}</td>
      </tr>
      <tr>
        <td class="table-descriptor">DEBT-EQUITY</td>
        <td class="table-descriptor">EARNINGS PER SHARE</td>
        <td class="table-descriptor">PRICE-EARNINGS</td>
      </tr>
      <tr>
        <td class="table-value">{{ ratios.get_ratio()[3] }}</td>
        <td class="table-value">{{ ratios.get_ratio()[4] }}</td>
        <td class="table-value">{{ ratios.get_ratio()[5] }}</td>
      </tr>
      <tr>
        <td class="table-descriptor">RETURN ON EQUITY</td> 
        <td class="table-descriptor">PRICE-BOOK</td>
        <td class="table-descriptor">WC TURNOVER</td>
      </tr>
      <tr>
        <td class="table-value">{{ ratios.get_ratio()[6] }}</td>
        <td class="table-value">{{ ratios.get_ratio()[7] }}</td>
        <td class="table-value">{{ ratios.get_ratio()[8] }}</td>
      </tr>
    </tbody>
  </table>
</div>

{% for x in range(table_titles|length) %}
{% set jt = table_titles[x] %}
<div id="to-{{ jt.lower() }}" class="table-start">
  <h2 id="active" class="subheader">{{ jt.upper() }}</h2>
  click to view:
  <select id="{{ jt.lower() }}-selector" class="selectors">

  {% for table in table_titles %}
    {% if table == jt %}
    <option value="{{ table.lower() }}" SELECTED>
      the {{ table }} table
    </option>
    {% else %}
    <option value="{{ table.lower() }}">
      the {{ table }} table
    </option>
    {% endif %}
  {% endfor %}
      
  </select>
  
  {% set jint = df_dict[jt] %}
  {% set kls = jint['keys_list'] %}

  <div class="table-container">
    <table id="table-{{ jt.lower() }}" class="hoodcast-table">
      <tbody>
        <tr class="table-header hoodcast-header">

          {% for i in range(jint['columns']|length) %}
          <th id="headers-{{ x }}-{{ i }}" class="t-head">
            {{ jint['columns'][i].lower().title().strip('| ') }}
            <br>
            <img id="{{ jt.lower() }}-sortasc-{{ i }}" 
                 class="sortasc" 
                 alt="Sort Ascending"
                 src="{{ url_for('static', 
                      filename='resources/images/up.svg') }}" />
            <img id="{{ jt.lower() }}-sortdesc-{{ i }}" 
                 class="sortdesc"
                 alt="Sort Descending" 
                 src="{{ url_for('static', 
                      filename='resources/images/down.svg') }}" />
          </th>
          {% endfor %}

        </tr>
          
          
        {% for i in range((kls|length)-1) %}
          {% for k in range(jint[kls[i+1]]|length) %}
            <tr id="{{ jt.lower() }}-{{ i+1 }}-datarow-{{ k }}" 
                class="{{ jt.lower() }}-{{ i+1 }}-datarows financials" 
                key="{{ k }}">
            {% for w in range(jint[kls[i+1]][k]|length) %}
            {% set jval = jint[kls[i+1]][k][w] %}
              {% if k != 0 and (w == 0 or w == 1) %}
                {% if jval == jint[kls[i+1]][k-1][w] %}
                  <td key="row{{ k }}-{{ w }}"></td>
                {% else %}
                  <td key="row{{ k }}-{{ w }}">
                    {{ jval.strip(' |') }}
                  </td>
                {% endif %}
              {% elif (k == 0 or k == (jint[kls[i+1]]|length) - 1) and w >= 2 %}
                {% if k == 0 and (jval|string)[0] == '-' %}
                  <td class="number row-first neg-red sig" key="row{{ k }}-{{ w }}">
                    $({{ (jval|string).split('.')[0][1:] }})
                  </td> 
                {% elif k == 0 %}
                  <td class="number row-first sig" key="row{{ k }}-{{ w }}">
                    ${{ (jval|string).split('.')[0] }}
                  </td>
                {% elif k == (jint[kls[i+1]]|length) - 1 and (jval|string)[0] == '-' %}
                  <td class="number row-last neg-red sig" key="row{{ k }}-{{ w }}">
                    $({{ (jval|string).split('.')[0][1:] }})
                  </td> 
                {% else %}
                  <td class="number row-last sig" key="row{{ k }}-{{ w }}">
                    ${{ (jval|string).split('.')[0] }}
                  </td>
                {% endif %}
              {% else %}
                {% if (jval|string)[0] == '-' %}
                  <td class="neg-red number" key="row{{ k }}-{{ w }}">
                    ({{ (jval|string).split('.')[0][1:] }})
                  </td>
                {% else %}
                  <td class="number" key="row{{ k }}-{{ w }}">
                    {{ (jval|string).split('.')[0] }}
                  </td>  
                {% endif %}
              {% endif %}
            {% endfor %}
            </tr>
          {% endfor %}  
        {% endfor %}

      </tbody>
    </table>
  </div>
</div>
{% endfor %}

{% endblock %}
